/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1140px;
	margin:auto;
	height: 100vh;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

.modeEdition {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 20px 0;
	width: 100%;
	margin: auto;
	background-color: black;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2, .button-categorie, .popup-logout button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	
	padding: 0 10px;
	font-size: 1.2em;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}


a:hover {
	color: #B1663C;
}

.filtres {
	margin-bottom: 60px;
	margin-top: 40px;
}

.filtres li {
	padding: 0;

}

.filtres ul {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.button-categorie, #modal-logout button, #modal-validateDelete button, #modal-logout-forced button,.addPhotoButton {
	padding: 9px 15px;
	background-color: #FFFEF8;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1em;
	border: 1px solid;
	border-radius: 60px;
	cursor: pointer;
	color:#1D6154;
}

.addPhotoValidate:disabled {
	background-color: lightgray ;
}

.addPhotoButton {
	width: 65%;
}

.button-categorie:hover,#modal-validateDelete button:hover, #modal-logout button:hover, #modal-logout-forced button:hover {
	background-color: #1D6154;
	color: white;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	padding: 60px;
	text-align: center;
}

#portfolio h2 {
	display : inline-block;
	justify-content: center;
	text-align: center;
}

.button-modifier {
	position: relative;
	left: 160px;
	top: -25px;
	background-color: #FFFEF8;
	border: none;
	font-size: 1em;
	font-family: 'Work Sans' ;
	cursor: pointer;
}

.button-modifier i{
	margin-right: 5px;
}

.button-modifier:hover {
	color:#B1663C;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.formulaire {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	text-align: center;
	
}
.formulaire h2 {
	margin-bottom: 20px;
}

.login h2 {
	margin-bottom: 0px;
}

.formulaire form {
	text-align: left;
	margin-top:20px;
	display: flex;
	flex-direction: column;
}

.formulaire input {
	height: 50px;
	padding: 0 10px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formulaire label {
	margin: 2em 0 1em 0;
	text-align: left;
}
.formulaire textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login a {
	text-decoration: none;
	color: black;
}

.login a:hover {
	text-decoration: underline;
}

.menu-logout {
	cursor: pointer;
}

.menu-logout:hover {
	color: #B1663C;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

.errorMessage, .modal-message {
	margin: 25px;
	height: 50px;
	color: red;
}

.modal-message {
	font-size: smaller;
	height: 10px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#modal-logout, #modal-main, #modal-validateDelete, #modal-logout-forced {
	position: fixed;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #1D6154;
	left:0;
	top:0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.5);

}

.modal-logout-wrapper, .modal-validateDelete-wrapper, .modal-logout-forced-wrapper {
	display: flex;
	gap:20px ;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 20vh;
	background-color: #FFFEF8;
	border-radius: 15px;
}


.modal-main-wrapper {
	
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35%;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	color: black;
}

.modal-main-wrapper h2 {
	font-family: 'Work Sans' ;
	font-size: 26px;
	font-weight: 400;
	color:black;
}

.modal-main-wrapper i {
	margin-bottom: 25px;
	width: 100%;
}

.modal-logout-forced-wrapper {
	padding: 30px;
	height: 250px;
}

.modal-logout-forced-wrapper p {
	padding: 25px;
	text-align: center;
}

.photoGallery {
	width: 75%;
}

.showGallery {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 50px 0;
	column-gap: 10px;
	row-gap: 30px; 
	justify-content: space-around;
}

.showGallery img {
	object-fit: cover;
	width: 100%;
	height: 100px;
}

.icons-modal-main {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#cross {/* croix de fermeture */
	position: relative;
	left: 16%;
}

.fa-xmark, .fa-arrow-left {
	cursor: pointer;
}

#arrow { /* flèche de  retour */
	position: relative;
	right: 16%;
	font-size: larger;
}

.fa-trash-can {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 15px;
	height: 15px;
}

.trash {
	display:flex;
	justify-content: center;
	position: relative;
	border-radius: 3px;
	top: -80%;
	left: 70%;
	width: 20px;
	height: 20px;
	padding: 2px 1px;
	background-color: black;
	cursor:pointer;
	font-size: 13px;
	font-weight: 400;
	color: white;
}

.addPhotoButton,  .addPhotoValidate {
	margin-top: 20px;
	font-size: 0.8em;
	background-color: #1D6154;
	color: white;
	padding: 10px 50px;
}

.addPhotoGallery {
	width: 100%;
}

.modifyGallery {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	/* margin-top: 50px; */
}

.modifyGallery h2 {
	margin-bottom: 40px;
}

.modifyGallery label {
	text-align: left;
	padding-left: -25px !important;
	display: inline-block;
	width: 100%;
	font-size: smaller;
	margin: 2em 0 0.5em 0;
}

.modifyGallery input{
	width: 100%;
	border: none;
	height: 50px;
	padding: 0 10px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modifyGallery hr {
	margin-top: 35px;
	width: 100%;
}

.addPhotoValidate {
	margin: 20px 0;
	height: 40px !important;
	width: 70% !important;
	font-size: 0.9em !important;
}

#insertFile, #image-preview {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:rgba(172, 196, 199, 0.4);
	border-radius: 5px;
}

select {
	width: 100%;
	border: none;
	height: 50px;
	padding: 0 10px;
	font-family: 'Work Sans';
	font-size: 0.8em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: rgba(0,0,0,.8)
}

option {
	font-size: 1em;
	color: rgba(0,0,0,.8)
}

#insertFile p {
	margin-top: 12px;
	font-size: 0.7em;
}

#image-preview img {
	height: 200px;
	width: 100%;
	object-fit: scale-down;
	cursor: pointer;
}

.fa-image {
	margin-bottom: 8px !important;
	margin-top: 30px;
	color:rgba(181, 195, 197, 0.5);
	font-size: 80px;
}

input::file-selector-button {
	display: none;
}

#title {
	font-family: 'Work Sans';
	font-size: 0.8em;
	color: rgba(0,0,0,.8)
}

#photoUpload {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
	height: 36px;
	background-color: rgba(181, 195, 197, 0.5);
	font-family: 'Work Sans';
	font-size: 1em;
	color: rgb(89, 102, 104);
	border: none;
	border-radius: 60px;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

.no-scroll {
	overflow: hidden !important;
}

.hidden {
	display: none !important;
}

